body {
	background-size: cover;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}
/* svg {
	width: 100%;
	height: 100%;
	overflow-y: hidden;

} */
.dpz{

	background: black;
    display: inline-block;
    border: 0;
    width:50px;
    height: 50px;
    padding: 18px;
  
    color: white;
    cursor: pointer;


}
.light-holder {
	background: url(https://maps.gstatic.com/mapfiles/santatracker/v201612021015/scenes/codeboogieframe/img/lights/ceiling.svg);
	  position: absolute;
	  width: 105.3em;
	  height: 59.1em;
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: 105.3em 59.1em;
	  margin-left: -500px;
	  margin-top: -60px;
  }
  .light {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-size: 100%;
	  animation: light 1s infinite;
  }
  @keyframes light {
	0% {
	  background-image: url("https://maps.gstatic.com/mapfiles/santatracker/v201612021015/scenes/codeboogieframe/img/lights/ceiling-light--red.svg")
	}
	100% {
	  background-image: url("https://maps.gstatic.com/mapfiles/santatracker/v201612021015/scenes/codeboogieframe/img/lights/ceiling-light--green.svg")
	}
  }
  
svg#hero {
position: absolute;

}
svg#Landscape {
	
	z-index: 0;
	}

 .slot {
position: absolute;
/* margin-left: 500px; */
	z-index: 1;
	margin: 0 300px;
	margin-top: -400px;
	/* padding: 150px; */
}
h1 {
	color: #EFEAE6;
	font-weight: normal;
	font-size: 40px;
	padding: 50px 0;
	margin: 25px auto 0 auto;
	text-shadow: 0 1px 2.5px #000000;
}
#deposit{visibility: hidden;}
h2 {
	color: #FFFFFF;
	background-color: #68D310;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	width: 50%;
	margin: 25px auto 0 auto;
	text-shadow: 0 1px 2.5px #000000;
	transform: translate(-100px,450px);
}
.slotImages {
	/* border: 10px solid red; */
	background: rgba(61, 61, 61, 0.88);
	margin: 0 auto 50px auto;
	/* margin-top: 200px; */
	/* width: 400px; */
	/* height: 150px; */
	margin-left: -200px;
	box-shadow: 0 1px 2.5px #FFFFFF;
}
img#img1,#img2,#img3 {
	/* margin: 7.5px 2.5px 5px 2.5px; */
	padding: 40px;
	background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(12, 12, 11, 0.1));
	/* border: 10px groove #D4CFCA; */
	box-shadow: 0 1px 2.5px #FFFFFF;
	width: 20%;
}
img#title{
	transform: translate(0px, 130px);
	z-index: 99;
	height: 160px;
}
img#hero{
	transform: translate(-690px,550px);
	z-index: 100;
	height: 460px;
}

#rcorners1 {
	transform: translate(-100px, 0px);
    background: linear-gradient(#070808, #FFFFFF);
    padding: 5px; 
    /* width: 300px; */
	height: 0.4px;    
	z-index: 1;
}
main {
	background: rgba(255, 255, 255, 0.86);
	margin: 50px auto 0 auto;
	width: 700px;
	padding: 10px 95px;
	/* margin-top: 300px; */
	margin-top: 60px;
	box-shadow: 0 1px 2.5px #F07828;

}

main.deck{
	transform: translate(-100px, -30px);
}
input {
	text-align: center;
	color: #000000;
	font-family: Garmond;
}
select {
	text-align: center;
	color: #000000;
	background: #FFFFFF;
	font-family: Garmond;
	outline: none;
	width: 100px;
	height: 30px;
}
select:disabled {
	background: #FFFFFF;
	cursor: not-allowed;
}
input:focus {
	outline: none;
}
input:disabled {
	opacity: 0.5;
}
label {
	/* font-size: 25px; */
	color: black;
}
/*.credits label {
    border: 0;
    color: #EFEAE6;
    font-weight: normal;
    font-size: 50px;
    text-shadow: 0 1px 2.5px #42210B;
}*/

.current input {
	color: black;
	width: 100px;
	padding: 15px 0 40px 0;
	font-weight: normal;
	font-size: 50px;
	border: 1px solid #2BB4EB;
	opacity: 1;
	cursor: default;
}
.current input:hover {
	cursor: default;
}
.current p {
	position: relative;
	margin-top: -30px;
	color: black;
}
.current p {
	cursor: default;
}

/*#bet1, #bet2, #bet3 {
    margin: 0 5px 0 15px;
    cursor: pointer;
}*/

input:disabled {
	cursor: not-allowed;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]+label {
	background: black;
	display: inline-block;
	border: 0;
	/* padding: 18px;
  font-size: 50px; */
	color: white;
	cursor: pointer;
}
input[type="radio"]:disabled+label, input[type="radio"]:disabled+label:hover {
	background: black;
	cursor: not-allowed;
}
input[type="radio"]:checked+label, input[type="radio"]+label:hover {
	background: #5D644D;
}
.play, .cashOut {
	background: black;
	border: 0;

	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}
.play:disabled:hover {
	background: black;
}
.play:hover {
	background: #8ECA8E;
}

.flex {
	display: flex;
	justify-content: space-between;
}
.bets .button {
	min-width: 100px;
}